<div style="display: flex; padding: 10px">
  <!--
  TODO: add names here when the server supports it as well

  Idea:

  Maybe even use some green and red dots to signal the activity

  (left side) Username 1          - space -       (right side) Username 2

  test data is shown below but not properly placed on the page
  -->

  <div style="justify-content: left; color: aliceblue">pha</div>
  <div style="justify-content: right; color: aliceblue">veqox</div>
</div>

<div style="display: flex; justify-content: center">
  <div>
    @for (i of [0, 1, 2]; track i) {
      <div style="display: flex">
        @for (j of [0, 1, 2]; track j) {
          <app-board [index]="3 * i + j" (newMove)="makeMove($event)" style="margin: 25px"></app-board>
        }
      </div>
    }
  </div>
</div>
